@import '../widget.shared';
@import '../../../../sass/variables';

$header-height:32px;
$footer-height:50px;

.widget.chat-widget{
    @extend .widget;      
    height:400px;   

    .chat-header{
        background-color: #5EB383   ;
        color: #1c2736;        
        font-size: 18px;
        font-weight: bold;
        height: $header-height;
        padding: 3px 20px;
        cursor: default;

        @extend .widget-header-tray;
    }

    .chat-container{
        height: 400px - $header-height - $footer-height;
        width: 100%;
        display: flex;

        .friends-window{
            height: 100%;
            width:150px;
            display: inline-block;
            background-color: #84e0d6;        
        }
    
        .chat-window{
            display: inline-block;
            width:calc(100% - 150px);
            height: 100%;
            overflow-y: auto;   
    
            .message{   
                position: relative;     
                background-color: #84e0d6;
                word-break: break-word;
                line-height: 30px;
                min-height: 50px;
                padding: 10px;
                font-size: 16px;
                margin: 10px;
                width: 60%;
                max-width: 80%;
                border-radius: 5px;
                float: right;
                color: 1c2736;  
                white-space: pre-wrap;
            
                &:not(.self)::after{
                    content: "";
                    width: 0;
                    height: 0;
                    border-bottom: 25px solid transparent;
                    border-right: 20px solid #84e0d6;
                    position: absolute;
                    top: 0;
                    left: -15px;
                }        
                
                &.self{
                    float: left;
                    background-color: #e6a6d0;    
                    &::after{
                        content: "";
                        width: 0;
                        height: 0;
                        border-top: 25px solid transparent;
                        border-left: 20px solid #e6a6d0;
                        position: absolute;
                        bottom: 0;
                        right: -15px;
                    }        
                }

                .time-stamp{
                    font-size: 14px;
                }   
            }        
        }
    }

    .chat-footer{
        width: 100%;
        height: $footer-height;
        display: flex;  
        border-top: 1px solid black;    
        
        .send-button{
            width: 60px;
            line-height: $footer-height - 2px;
            text-align: center;
            background: linear-gradient(to bottom, #7a70ca, #5f5998);
            border: 1px solid #554ca9;
            display: inline-block;
        }

        .message-input{
            position: relative;
            width: calc(100% - 60px);
            max-height: initial;
            border: 0;                        
            background-color: #ffffff;
            padding: 5px 0 0 5px;
            overflow-y: auto;
            z-index: 100;

            &:active{
                border: none;
            }
        }
    }
}