<div dd-draggabilly class="widget chat-widget" [style.width.px]="columnWidth">
  <div class="chat-header">{{chatHeader}}
    <span (click)="onDestroyClick()" class="fa fa-trash header-tray"></span>
  </div>
  <div class="chat-container">
    <div class="friends-window"></div>
    <div #chatWindow class="chat-window">
      <p *ngFor="let m of messages" class="message" [ngClass]="{'self':(m.fromId % userId) === 0}"><b>{{m.from}}</b> <span class="time-stamp">{{m.timeStamp | date:'shortTime'}}</span><br/>{{m.message}}</p>
    </div>
  </div>
  <div class="chat-footer">
    <div (click)="sendMessage()" class="send-button">Send</div>
    <div contenteditable="true" (keydown)="onKeyDown($event)" #messageInput class="message-input" type="text"></div>
  </div>
</div>