<div class="dashboard-container row">
  <div class="side-bar col-sm-2">
    <div class="sliding-menu">
      <div class="menu-item" *ngFor="let item of menuItems" (click)="onMenuItemClicked(item)">
        <div class="description" [ngClass]="item.display">{{item.display}}</div>
        <div [ngClass]="item.icon"></div>
      </div>
    </div>
  </div>
  <div #dashboard class="dashboard col-sm-10" dd-packery>
    <ng-template ngFor let-widget [ngForOf]="userWidgets">
      <widget-host></widget-host>
    </ng-template>
  </div>
</div>