@import '../../sass/variables.scss';

.dashboard-container{

    &.row{
        margin: 0;
    }

    .side-bar{  
        @include background(1);
        border-right: 1px solid rgba(0,0,0,.5);      
        min-height: 100%;
    }

    .dashboard{
        padding: 10px;
    }
}
