/*imports*/
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './variables.scss';

/*global styles*/
body{    
    background-color: $blueish-white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}