@import '../widget.shared';
@import '../../../../sass/variables';

$local-widget-height: 400px;
$local-header-height: 30px;
$local-body-height: 330px;
$local-icon-tray-height: 45px;
$padding-top-bottom: 10px;

@mixin placeholderStyling($textAlign, $lineHeight){
    text-align: $textAlign;
    color: #4A535E;        
    line-height: $lineHeight;
}  

@mixin focusAndPlaceholder($textAlign, $lineHeight){

    &::-webkit-input-placeholder {       
        @include placeholderStyling($textAlign, $lineHeight);
    }
    &::-moz-placeholder {
        @include placeholderStyling($textAlign, $lineHeight);
    }
    &:-ms-input-placeholder {
        @include placeholderStyling($textAlign, $lineHeight);
    }
    &:-moz-placeholder {
        @include placeholderStyling($textAlign, $lineHeight);
    }
}

.display-widget{
    @extend .widget;
    height:400px;
    width: 300px;

    .display-header{
        padding: 0 15px; 
        display:block;
        width:100%;
        background-color: $logo-font-color;

        .note-title{            
            width:100%;
            padding-left: 5px;
            font-size: 20px;
            font-weight: bold;            
            background-color: transparent; 
            border:none;
            color: #1C2736;                
            @include focusAndPlaceholder(left, inherit);

            &:not([disabled]){
                background-color: #FFD587;                
            }
        }
    }

    .note-body{
        height: $local-body-height;  
        padding: 5px 15px 10px 15px;
        font-size: 18px;
        width: 100%;

        textarea{            
            resize: none;
            height: 100%;
            width: 100%;
            padding-left: 5px;
            background-color: transparent;
            border: none;            
            color: $blueish-white;                
            @include focusAndPlaceholder(center, $local-body-height - 22);   

            &:not([disabled]){
                background-color: #4A535E;                
            }
        }
    }    

    .icon-tray{
        height: $local-icon-tray-height;
        padding: 0 15px;
        height: 30px;        
        width: 100%;

        .fa {            
            font-size: 28px;
            color: $blueish-white;

            &.fa-check-square-o{
                color: #68B468;
            }
        }
    }
}