<div class="widget note-widget" dd-draggabilly [style.width.px]="columnWidth">
  <div class="note-header">
    <input class="note-title" type="text" placeholder="Title" [disabled]="!editMode" value="To Do"/>  
    <span (click)="onDestroyClick()" class="fa fa-trash header-tray"></span>  
  </div>
  <div class="note-body">
    <textarea placeholder="Body" [disabled]="!editMode" >
  - Persist data(values, choices, pos.)
  - Create line graph
  - Create data filter menu
  - Create widget menu on side bar
    </textarea>    
  </div>
  <div class="icon-tray">
    <span *ngIf="!editMode; else checkBox" (click)="toggleEditMode()" class="fa fa-pencil-square-o"></span>     
    <ng-template #checkBox><span (click)="toggleEditMode()" class="fa fa-check-square-o"></span></ng-template>      
  </div>
</div>
