/*variables*/
$blueish-white: #ebffff;
$max-width: 1140px;
$packer-column-width: 190px;
$lg-width-floor: 950px;
$sm-width-cieling: 974px;

@mixin getPackeryFriendlyWidth($multiplier){
    width:$packer-column-width * $multiplier;
}