@import '../../../sass/variables.scss';

.widget{
    position: relative;
    @include background(1);
    box-shadow: 2px 2px 20px black;
    &.is-dragging, &.is-positioning-post-drag {
        @include background(.6);
        z-index: 10;
    }
}

.widget-header-tray{
    position: relative;

    .header-tray{
        font-size: 1.5rem;
        position: absolute;
        right: 10px;
        top: .2rem;
        color: background(1);
    }
}