.widget{
    position: relative;
    background-color: rgba(0,0,0,0.2);
    &.is-dragging, &.is-positioning-post-drag {
        background-color: rgba(0,0,0,0.4);
        z-index: 10;
    }
}
