.about-button{    
    background-image: -webkit-linear-gradient(top, #65CEFC, #478FB1);
    background-image: -moz-linear-gradient(top, #65CEFC, #478FB1);
    background-image: linear-gradient(to bottom, #65CEFC, #478FB1);    
    align-items:center; 
    height:55px;
    padding: 0 40px;
    display:flex;     

    &:hover{
        background-image: -webkit-linear-gradient(top, #478FB1, #295066);
        background-image: -moz-linear-gradient(top, #478FB1, #295066);
        background-image: linear-gradient(to bottom, #478FB1, #295066);
        cursor: pointer;
    }

    img{
        border-radius:36px;
        border: solid 2px #1F4151;
    }
}

.about-name{
    margin: 0 10px;
}

