.app-header{
    height: 100px;
    background-image: -webkit-linear-gradient(#00ECE7,#D0FCF7);
    background-image: -moz-linear-gradient(#00ECE7,#D0FCF7);
    background-image: -o-linear-gradient(#00ECE7,#D0FCF7);
    background-image: linear-gradient(#00ECE7,#D0FCF7);

    .header-menu{
        color: #4C4C4C;
        font-weight: bold;
        padding-top:30px;
        ul{     
            margin:0;               
            list-style-type: none;           
            
            li {
                float:left;
                padding: 0 20px; 
                height: 40px;
                transition: font-size .4s ease-out;
                
                &:hover{
                    cursor: pointer;
                    font-size: 19px;
                    transition: font-size .4s ease-in;
                }

                &.selected{
                    border-bottom: 3px solid #FFFFFF;
                }   
            }
        }
    }    
}