@import '../sass/variables.scss';

.app-container{    
    position: relative;
    margin: 0 auto;    
    width: $app-width;
    
    .shadow-wrapper{        
        width: 100%;
        box-shadow: 0 0 10px black;
    }
}

.app-header{
    position: absolute;
    top:0;
    z-index: 10;
    display: flex;
    margin:0 auto;    
    height: $header-height; 
    width: $app-width;    
    
    .developer{
        height: 100%;
        font-size: 24px;        
        color:$logo-font-color; 
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 10px;
        border-right: 1px solid rgba(0, 0, 0, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        font-family: 'Pacifico', cursive;
        @include background(1);               

        img{
            border-radius: 70px;
        }
    }

    .navigation{
        display:flex; 
        align-items:center;
        height: $header-height;  
        justify-content:flex-end;
        @include background(1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        color: white;

        .link{
            margin:0 50px; 
            font-size:26px;

            &:hover{
                cursor: pointer;
            }

            &:focus{
                outline:none;
            }

            &::before{
                transition: opacity .2s ease-in-out;
                opacity: 0;
                content: "";
                height: 0;
                width: 0;
                border-top: 20px solid white;
                border-right: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 20px solid white;
            }

            &::after{                
                transition: opacity .2s ease-in-out;
                opacity: 0;
                content: "";
                height: 0;
                width: 0;
                border-top: 20px solid transparent;
                border-right: 20px solid white;
                border-bottom: 20px solid white;
                border-left: 20px solid transparent;
            }

            &.active{
                border: 1px 0 1px 0 solid white;

                &::before {
                    opacity: 1;
                }         
                
                &::after{
                    opacity: 1;
                }
            }
        }
    }
}

.app-body{
    margin: 0 auto;
    max-width: $app-width;   
    padding-top: $header-height;
    min-height: 100%;    
    @include foreground(.5);
}