<div class="app-header">
    <div class="header-container">
        <div class="header-logo">
            <img [src]="gravatarUrl" />
            <label>Joel Rainear-Wills</label>
        </div>
        <div class="header-menu-lg">
            <ul>
                <li *ngFor="let item of navItems" [ngClass]="{'selected':isSelectedNavItem(item.id)}" ><a (click)="selectNavItem(item.id)" routerLink="{{item.path}}">{{item.name}}</a></li>
            </ul>
        </div>
        <div class="hamburger-menu" (click)="hamburgerMenuClicked = !hamburgerMenuClicked"><span class="fa fa-bars"></span></div>
    </div>
    <div class="header-menu-sm" [style.height.px]="windowHeight" [ngClass]="{'visible': hamburgerMenuClicked }">
        <div class="close-tab">
            <div class="close-button" (click)="hamburgerMenuClicked = !hamburgerMenuClicked">&rsaquo;&rsaquo;</div>
        </div>        
        <div>
            <ul>
                <li *ngFor="let item of navItems" [ngClass]="{'selected':isSelectedNavItem(item.id)}"><a  (click)="selectNavItem(item.id)" routerLink="{{item.path}}">{{item.name}}</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="app-body" [style.height.px]="appBodyHeight">
    <router-outlet></router-outlet>
</div>