@import '../sass/variables.scss';
.app-container{    
    position: relative;
    margin: 0 auto;    
    width: $app-width;
    
    .shadow-wrapper{        
        width: 100%;
        box-shadow: 0 0 10px black;
    }
}

.app-header{
    position: absolute;
    top:0;
    z-index: 10;
    display: block;
    margin:0 auto;
    height: $header-height; 
    width: $app-width;    
    
    // &::after{
    //     content: "";
    //     width: 100%;
    //     height: 30px;
    //     background: rgba(255,255,255,.8);
    //     display: block;
    //     box-shadow: inset 0 0 35px black;
    //     border-top: 1px solid $blueish-white;
    //     border-bottom: 1px solid $blueish-white;
    // }    
    
    .developer{
        height: 100%;
        font-size: 24px;        
        color:$logo-font-color; 
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 10px;
        border-right: 1px solid rgba(0,0,0,.2); 
        font-family: 'Pacifico', cursive;
        //border-right: 1px solid $blueish-white; 
        @include background(1);               

        img{
            border-radius: 70px;
        }
    }

    .location{
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-weight: bolder;
        color: #ebffff;        
    }
    
    .header-logo{   
        position: absolute;
        display: inline-flex;
        align-items: center;
        top:20px;
        left:30px;   
        label{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 30px;                        
            letter-spacing: 1.25px;
            padding-left: 10px;
            text-shadow: 1px 1px $blueish-white;
        }  
        img{
            border-radius: 100px;
            border: 2px solid #4C4C4C;
        }
    }    
}

.app-body{
    margin: 0 auto;
    max-width: $app-width;   
    padding-top: $header-height;
    min-height: 100%;    
    @include foreground(.5);
}