@import '../widget.shared';
@import '../../../../sass/variables';

.widget.chart-widget{
    @extend .widget;  
    
    height:400px;

    .chart-header{
        color: $blueish-white;
        font-size: 18px;
        height: 30px;
        padding: 5px 0 0 15px;
        cursor: default;
    }

    .chart{
        height: 85%;
        width: 100%;
        
        /deep/ path.arc{
            &:hover{                
                fill-opacity: .3;                
            }
            &.selected{
                stroke:$blueish-white;
                stroke-width: 4px;
            }
        }

        /deep/ text{
            cursor: default;
            fill:$blueish-white;
        }
    }

    svg{
        position: absolute;
        bottom: 10;
    }
}