@import '../widget.shared';
@import '../../../../sass/variables.scss';

.widget.chart-widget{
    @extend .widget;  
    
    height:400px;
    @include getPackeryFriendlyWidth(2);    

    .chart{
        height: 85%;
        width: 100%;
        
        /deep/ path.arc{
            &:hover{                
                fill-opacity: .3;                
            }
            &.selected{
                stroke:white;
                stroke-width: 4px;
            }
        }
    }

    svg{
        position: absolute;
        bottom: 10;
    }
}