@import '../widget.shared';
@import '../../../../sass/variables';

.widget.chart-widget{
    @extend .widget;      
    height:400px;        

    .chart-header{
        background-color: $blueish-white;
        color: #1C2736;        
        font-size: 20px;
        font-weight: bold;
        height: 32px;
        padding-left: 20px;
        cursor: default;
    }

    .chart{
        position: absolute;
        bottom: 10;
        height: 86%;
        width: 100%;
        
        /deep/ path.arc{
            &:hover{                
                fill-opacity: .3;                
            }
            &.selected{
                stroke:$blueish-white;
                stroke-width: 4px;
            }
        }

        /deep/ text{
            cursor: default;
            fill:$blueish-white;
        }
    }    
}